body {

    background-color: rgb(110, 164, 226);

}

/* Start header tags */

h1 {

    color: crimson;
    text-align: center;

}

h2 {

    color: rgb(20, 207, 220);
    text-align: center;

}

h3 {

    color: rgb(152, 228, 108);
    text-align: center;

}

h4 {

    color: rgb(0, 0, 0);
    text-align: center;

}

.quinfo {

    

}

