body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;;
    background-color: black;
  }
  
  .game-container {
    border: 4px solid rgb(255, 255, 255)000;
    position: relative;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
  }
  
  .copyright {
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
  }
  
  #matrix-rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  h1, h2, h3, h4, h5, p {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
  }

  #sushi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .rain-drop {
    position: absolute;
    top: 0;
    width: 1rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
    background: linear-gradient(transparent 10%, #008F11 50%, #00FF41 96%, white 3rem);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 1px #008F11);
    font-weight: bold;
    opacity: 1;
    transition: 1s ease-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  